@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	background-color: #f2f4f5;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	transition: 0.5s;
	border-radius: 6px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.case {
	font-size: 18px;
}

.newPositiveCase {
	font-size: 14px;
	color: red;
	margin-right: 5px;
}

.newNegativeCase {
	font-size: 14px;
	color: green;
	margin-right: 5px;
}

.newZeroCase {
	font-size: 14px;
	color: orange;
	font-weight: bold;
	margin-right: 5px;
}

.page {
	position: fixed;
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: #f2f4f5;
}

svg {
	display: inline-block;
	vertical-align: middle;
}
